{% extends "main_base.html" %}
{% load url from future %}
{% block page %}

<div class="page_title sixteen columns">
<h4>Login</h4>
</div><!--closes page_title-->


<div id="login">
<form action="/accounts/login/" method="post">
{% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username" />
    <label>Password:</label>
    <input type="text" name="password" />
<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" value="Login" />
</form>
</div><!--closes login-->

<h4>New User?</h4>

<div id="register">
<div class="page_title sixteen columns">
<h4>Create a Profile</h4>
</div><!--closes page_title-->

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit" />
</form>
</div><!--closes register-->
{% endblock page%}
