{% extends "header_footer.html" %}
{% block main %}
<div class="container">
  <div class="page_title sixteen columns">
    <h2>Successful logout!</h2>
  </div><!--closes page_title-->
  
  <div id="logout">
    <h4>Login Again</h4>
    
    <form action="/accounts/login/" method="post">
      {% csrf_token %}
      <label>Username:</label>
      <input type="text" name="username" />
      <label>Password:</label>
      <input type="password" name="password" />
      <input type="submit" value="Login" />
    </form>
  </div><!-- closes logout-->
</div><!--closes container-->
{% endblock main %}
