{% extends "header_footer.html" %}
{% block main %}
<div class="container login_push_footer">
  <div class="page_title sixteen columns">
    <h2>About</h2>
  </div><!--closes page_title-->
  <img src="http://payload.cargocollective.com/1/5/161954/2186748/cafe%20sky2.jpg" class="about_image"/>
  <img src="http://payload.cargocollective.com/1/5/161954/2186748/99980006.JPG" class="about_image"/>
  <img src="http://payload.cargocollective.com/1/5/161954/2187072/99980002.JPG" class="about_image"/>
  <img src="http://payload.cargocollective.com/1/5/161954/2187072/88380004.JPG" class="about_image"/>

<p>
Jack and Peter are two friends and programmers who have trouble finding rooms in the Bay Area. We're planning on adding lots more features so would really value your feedback. Thanks! </p>
</div><!--closes container -->
{% endblock main%}
