{% extends "header_footer.html" %}
{% load static %}
{% block main %}
<div class="container">
<div class="page_title sixteen columns">
  <h2>List a room</h2>
</div><!--closes page_title-->

<form action="." method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.non_field_errors}}
  <h4>1. What do you want to know about your roommates?</h4>
  <p>Select our FAQs for create your own below.</p>
  {% for ques in standard %}
  <label for"{{ques.text}}"=>{{ques.text}}</label>
  <input type="checkbox" name="{{ques.text}}" value="{{ques.text}}" /> 
  {% endfor%}
  <h5 class="pointer clickable dropdown">Click here to add your own questions</h5>
  <dd>
  <label>Question 1 (optional)</label>
  <input type="text" name="q1" />
  <label>Question 2 (optional)</label>
  <input type="text" name="q2" />
  <label>Question 3 (optional)</label>
  <input type="text" name="q3" />
   <label>Question 4 (optional)</label>
  <input type="text" name="q4" />
  <label>Question 5 (optional)</label>
  <input type="text" name="q5" />
  <label>Question 6 (optional)</label>
  <input type="text" name="q6" />
  <label>Question 7 (optional)</label>
  <input type="text" name="q7" />
  <label>Question 8 (optional)</label>
  <input type="text" name="q8" />
  <label>Question 9 (optional)</label>
  <input type="text" name="q9" />
  <label>Question 10 (optional)</label>
  <input type="text" name="q10" />
  </dd>
  <br/>
  <div id="tell_room">
    <h4 class="pointer clickable">2. Tell us about the room</h4>
    <dd>
    <label>{{form.price.label}} ($)</label>
    <p class="error_p">{{form.price.errors}}</p>
    {{form.price}}
    <label>{{form.address.label}}</label>
    <p class="error_p">{{form.address.errors}}</p>
    {{form.address}}
    <label>{{form.city.label}}</label>
    <p class="error_p">{{form.city.errors}}</p>
    {{form.city}}
    <label>{{form.state.label}}</label>
    <p class="error_p">{{form.state.errors}}</p>
    {{form.state}}
    <label>{{form.zip.label}}</label>
    <p class="error_p">{{form.zip.errors}}</p>
    {{form.zip}}
    <label>About the room:</label>
    <p class="error_p">{{form.room_about.errors}}</p>
    {{form.room_about}}

    </dd>
  </div><!--closes tell_room-->
  <br/>
  <div id="create_account">
    <h4 class="pointer clickable">3. Create an account</h4>
    <dd>
    <label>{{form.username.label}}</label>
    <p class="error_p">{{form.username.errors}}</p>
    {{form.username}}
    <label>{{form.password.label}}</label>
    <p class="error_p">{{form.password.errors}}</p>
    <input type="password" name="password" />
    <label>{{form.email.label}}</label>
    <p class="error_p next_toggle">{{form.email.errors}}</p>
    {{form.email}}
    </dd>
  </div><!--closes create_account-->
  <br/>
  <div id="tell_yourself">
    <h4 class="pointer clickable">4. Tell us a bit about yourself</h4>
    <dd>
      <label>{{form.name.label}}</label>
      {{form.name.errors}}
      {{form.name}}
      <label>How important is cleanliness to you?</label>
      <select name="clean_score">
	<option value="1">1 - Not at all</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5 - Somewhat</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10 - It's all I care about</option>
      </select>
      <label>Do you smoke?</label>
      <select name="smoker">
	<option value="No">No</option>
	<option value="Yes">Yes</option>
      </select>
      <label>{{form.about.label}}</label>
      <p class="error_p">{{form.about.errors}}</p>
      {{form.about}}
      <label>Upload a picture</label>
      <p class="error_p">{{form.file.errors}}</p>
      {{form.file}}
      <br/><br/>
      <input type="submit" value="Submit!" />
    </dd>
  </div><!--closes tell_yourself-->
</form>
</div><!--closes container-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{% get_static_prefix %}js/dropdown.js"></script>
{% endblock main %}
