{% extends "header_footer.html" %}
{% load static %}

{% block main %}
<div class="container">
  <div id="survey_url" class="sixteen columns">
    {% if profile.survey %}
    <h5>Paste this URL to craigslist or facebook to show your survey to others: <a href="/room/{{profile.survey.id}}">http://roommater.us/room/{{profile.survey.id}}</a></h5>
    {% else %}
    <h4>You've most recently applied to {{most_recent}}</h4>
    {% endif %}
  </div><!--closes survey_url-->

  <div id="potential_roommates" class="sixteen columns">
    
    {% if profile.survey %}
    <h3>Potential Roommates</h3>
    {% if responses %}
    {% for response in responses %}
    <div class="profile">
      <h4>{{response.responder.name}} -- {{response.responder.user.email}}</h4>
      <img class="five columns" src="{{response.responder.pic}}" width=30% alt = "user pic" />
      <ul class="ten columns user_info">
	<h6>Basic Info</h6>
	<li>About: {{response.responder.about}}</li>
      </ul>
      <a href="/emailing/remove/{{profile.survey.id}}/{{response.responder.id}}">Remove and send rejection email</a>
    </div><!--closes profile-->
    <div class="answers">
      <h5>Answers to Your Survey</h5>
      {% for res in response.responses.all %}
      <ul>
	<h6>{{res.question.text}}</h6>
	<li>{{res.text}}</li>
      </ul>
      {% endfor %}
      {% endfor %}
    </div><!--closes answers-->
  {% else %}
  <p>No responses yet. Post the above <a class="red" href="/room/{{profile.survey.id}}/">url</a> to somewhere like <a class="red" href="http://craigslist.org">craigslist</a> or <a class="red" href="http://padmapper.com">padmapper</a> to get responses.</p>
  {% endif %}
  
  {% else %}
  <h4>Rooms you've applied to:</h4>
  {% if profile.rooms %}
  {% for room in profile.rooms.all %}
  <li>{{room}}</li>
  {% endfor %}
  {% else %}
  <p>You haven't applied anywhere yet. Checkout some of the <a href="/rooms/">rooms</a> we have listed.
    {% endif %}
    {% endif %}
</div><!--closes potential_roommates-->

  <div class="sixteen columns profile" id="profile_info">
    <img class="five columns "src="{{pic}}" width=30%/>
    <ul id="" class="ten columns">
      {% if profile.survey %}
      <h4>About the Room I've Listed</h4>
      <li><p class="bold">Room:</p> {{profile.survey.room}}</li>
      <li><p class="bold">About the room:</p> {{profile.survey.room.about}}</li>
      {% if profile.about %}
      <h4>About Me:</h4><p class="red">Applicants cannot see this information</p>
      <li><p class="bold">About:</p><p>{{profile.about}}</p></li>
        {% else %}
      {% endif %}
      {% else %}
      <h4>About Me:</h4><h6>This is the profile that will show up when you apply to different rooms.</h6>
      {% endif %}
    </ul>
  </div><!--closes profile_info-->


</div><!--closes container -->
{% endblock main %}
