{% extends "la.html" %}
{% load static %}
{% block page %}
<h1>{{profile.nickname}}'s Dashboard</h1>

<img src="{% get_media_prefix%}{{pic}}" width=40%/>
<h4>Paste this URL to show your survey to others: <a href="/backend/real_survey/{{profile.survey.id}}">here</a></h4>

<ul>
{% if profile.survey %}
  <li><a href="/backend/real_survey/{{profile.survey.id}}">View Your Survey</a></li>
{% else %}
  <li><a href="/backend/create_survey">Create a Survey</a></li>
{% endif %}
  <li><a href="">Edit Profile</a></li>
  <li><a href="/accounts/logout/">Logout</a></li>

</ul>

{% if profile.survey %}
{% for response in responses %}
<h1>{{response.responder}}</h1>
<img src="{% get_media_prefix%}{{response.responder.pic}}" width=40%/>
<h3>Profile Stuff</h3>
<li>{{response.responder.clean_score}}</li>
<li>{{response.responder.about}}</li>
<li>{{response.responder.food_score}}</li>


{% for res in response.responses.all %}
<ul>
  <h3>{{res.question.text}}</h3>
  <li>{{res.text}}</li>
</ul>
{% endfor %}
{% endfor %}

{% else %}

<h4>You need to create a survey</h4>

{% endif %}
{% endblock page%}
