<h3> {{ survey }} </h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/feedback/{{ survey.id }}/vote/" method="post">
{% csrf_token %}
{% for option in survey.option_set.all %}
    <input type="radio" name="option" id="option"{{ forloop.counter }}" value="{{ option.id}}" />
    <label for="option{{ forloop.counter }}">{{ option.option }}</label><br />
{% endfor %}
<input type="submit" value="Select" />
</form>

<!--# REVIEW form action, for="option {{ forloop.counter }} -->


