{% extends "main_base.html" %}
{% load static %}
{% block page %}
<div id="header" class="sixteen columns">
  <img class="" src="{% get_static_prefix %}images/logo.png" width=40%/>
  <ul class="horizontal six columns" id="headerlinks">
    <li><a href="/backend/home/">Home</a></li>
    <li><a href="/backend/dash/">Dashboard</a></li>
    <li><a href="/backend/surveys/">Search for Rooms</a></li>
  </ul>
</div><!--closes header-->

{% block main %}

{% endblock main%}

<div id="footer" class="ten columns offset-by-three">
  <ul class="horizontal">
    <li><a href="/backend/profile/">Register</a></li>
    <li><a href="/backend/home/">Home</a></li>
    <li><a href="/backend/dash/">Dashboard</a></li>
    <li><a href="/backend/surveys/">Search for Rooms</a></li>
    <li><a href="/accounts/login/">Login</a></li>
    <li><a href="/accounts/logout/">Logout</a></li>
  </ul>
</div><!--closes footer-->
{% endblock page%}
