{% extends "main_base.html" %}
{% load static %}
{% block page %}
<div class="header">
  <div id="login" class="horizontal_login">
    <form action="/accounts/login/" method="post">
      {% csrf_token %}
      <input type="text" name="username" value="username" class="login_box" id="username_input" onfocus="clearUsernameBox()"/>
      <input type="password" name="password" value="password" class="login_box" id="password_input" onfocus="clearPasswordBox()"/>
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="submit" value="Login" />
    </form>
  </div><!--closes login-->

</div>
<div class="container">
  <div id="home_main">
    <img class="offset-by-four" src="{% get_static_prefix %}img/logo.png" width=50%/>
    <h2 class="center clearboth">Find roommates easier.</h2>
    <div class="offset-by-five">
    <ol>
    <li> Create custom surveys </li>
    <li> Post to Craigslist, Facebook, or wherever you want. </li>
    <li> Screen and manage all the responses. </li>
    </ol>
    </div>
  </div><!--closes home_main-->
</div><!--closes container-->

<div id="list_room">
  <div class="container">
    <div class="left">
      <img class="home_img" src="{% get_static_prefix %}img/noun_project_user.png" />
    </div><!--closes right-->
    <div class="right center">
      <h3 class="grey_hover"><a href="/list_room/">List a room</a></h3>
      <h5>Create a survey and track applicants</h5>
    </div><!--closes left-->
  </div><!--closes container-->
</div><!--closes list_room-->

<div id="find_room">
  <div class="container">
    <div class="left center nine columns">
      <h3 class="grey_hover"><a href="/rooms/">Find a room</a></h3>
      <h5>Search for rooms in your area</h5>
    </div><!--closes left-->
    <div class="right seven columns">
      <img class="home_img"  src="{% get_static_prefix %}img/map.png" />
    </div><!--closes right-->


  </div><!--closes container-->
</div><!--closes list_room-->
<script type="text/javascript">
  function clearUsernameBox(){
    document.getElementById('username_input').value = "";
  };
  function clearPasswordBox(){
    document.getElementById('password_input').value = "";
  }


</script>


{% endblock page %}
