{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% get_static_prefix %}css/base.css">
  <link rel="stylesheet" href="{% get_static_prefix %}css/layout.css">
  <link rel="stylesheet" href="{% get_static_prefix %}css/skeleton.css">
  <link rel="stylesheet" href="{% get_static_prefix %}css/backend.css">
  <style type="text/css">
    body {background-image:url("/static/images/fabric_plaid.png")}
  </style>

</head>
<body>
<div id="header">
  <a href="/backend/home/"><img class="" src="{% get_static_prefix %}images/logo.png" width=25% /></a>
  <ul class="horizontal" id="headerlinks">
    <li><a href="/backend/home/">Home</a></li>
    <li><a href="/backend/dash/">Dashboard</a></li>
    <li><a href="/backend/surveys/">Search for Rooms</a></li>
  </ul>
</div><!--closes header-->

<div class="container">

{% block page %}

{% endblock page%}
</div><!--closes container-->
<div id="footer" class="">
  <div id="footerlinks">
  <ul class="horizontal">
    <li><a href="/backend/home/">About</a></li>
    <li><a href="/backend/home/">Home</a></li>
    <li><a href="/backend/dash/">Dashboard</a></li>
    <li><a href="/backend/surveys/">Search for Rooms</a></li>
    <li><a href="/login/">Login</a></li>
    <li><a href="/accounts/logout/">Logout</a></li>
  </ul>
  </div><!--closes footerlinks-->
</div><!--closes footer-->

</body>

</html>
