{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% get_static_prefix %}css/base.css">
  <link rel="stylesheet" href="{% get_static_prefix %}css/layout.css">
  <link rel="stylesheet" href="{% get_static_prefix %}css/skeleton.css">
  <link rel="stylesheet" href="{% get_static_prefix %}css/backend.css">
  <style type="text/css">
/*    body {background-image:url("/static/images/fabric_plaid.png")} */
  </style>

</head>
<body onload="initializeMap()">


{% block page %}

{% endblock page%}

<div id="footer" class="">
  <div id="footerlinks">
  <ul class="horizontal">
    <li><a href="/about/">About</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/dash/">My Rooms</a></li>
    <li><a href="/rooms/">Search for Rooms</a></li>
{% if user.is_authenticated %}
    <li><a href="/accounts/logout/">Logout</a></li>
{% else %}
    <li><a href="/login/">Login</a></li>
{% endif %}
  </ul>
  </div><!--closes footerlinks-->
</div><!--closes footer-->

</body>

</html>
