{% extends "main_base.html" %}
{% block page %}

<div id="main">
<div class="page_title sixteen columns">
  <h2>Survey by {{s}}</h2>
</div><!--closes page_title-->

<form action="/backend/submit/{{s.id}}/" method="post">
  {% csrf_token %}
{% for q in question %}
  <label>{{q.text}}</label>
  <input type="text" name="{% cycle 'r1' 'r2' 'r3' 'r4' 'r5' 'r6' 'r7' 'r8' 'r9' 'r10'%}" />
<!--  <textarea type="text" name="{% cycle 'r1' 'r2' 'r3' 'r4' 'r5' 'r6' 'r7' 'r8' 'r9' 'r10'%}"></textarea>-->
  <input type="hidden" name="{% cycle 'row1' 'row2' 'row3' 'row4' 'row5' 'row6' 'row7' 'row8' 'row9' 'row10'%}" value="{{q.text}}" />
{% endfor %}
  <br/>
  <input type="submit" value="Submit!" />
</form> 

</div><!--closes main-->
{% endblock page %}

