{% extends "main_base.html" %}
{% block page %}
<div id="main">
<div class="page_title sixteen columns">
  <h2>Survey by {{s}}</h2>
</div><!--closes page_title-->

<div id="">
  <ul>
    <li>Price: ${{s.room.price}}</li>
    <li>Address: {{s.room.address}}</li>
    <li>City: {{s.room.city}}</li>
  </ul>
</div>

      <div id="map_canvas" style="width: 500px; height: 300px"></div>


<form action="/backend/submit/{{s.id}}/" method="post">
  {% csrf_token %}
{% for q in question %}
  <label>{{q.text}}</label>
  <input type="text" name="{% cycle 'r1' 'r2' 'r3' 'r4' 'r5' 'r6' 'r7' 'r8' 'r9' 'r10'%}" />
<!--  <textarea type="text" name="{% cycle 'r1' 'r2' 'r3' 'r4' 'r5' 'r6' 'r7' 'r8' 'r9' 'r10'%}"></textarea>-->
  <input type="hidden" name="{% cycle 'row1' 'row2' 'row3' 'row4' 'row5' 'row6' 'row7' 'row8' 'row9' 'row10'%}" value="{{q.text}}" />
{% endfor %}
  <br/>
  <input type="submit" value="Submit!" />
</form> 

</div><!--closes main-->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCxf_ljx73homsazrdtygO9LF2Vpa9GVWE&sensor=false" type="text/javascript"></script>
<script type="text/javascript">

var map;
var geocoder;
var address ="{{s.room.address}}"+" {{s.room.city}}";
var coordinates = new google.maps.LatLng({{s.room.lat}}, {{s.room.lng}});

function initializeMap() {
    geocoder = new google.maps.Geocoder();
    geocoder.geocode( { 'address':address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var latlng = results[0].geometry.location;
    } else {
      var latlng = new google.maps.LatLng(-34.397, 150.644);
    };
    var myOptions = {
      zoom: 12,
      center: coordinates,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  var marker = new google.maps.Marker({
    map: map,
    position: coordinates,
    });
  }
)}
</script>
{% endblock page %}

