{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

        <!-- Basic Page Needs                                                                              \
                                                                                                            
  ================================================== -->
        <meta charset="utf-8">
        <title>Roomater - Find Roomates</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!--[if lt IE 9]>                                                                                  \
                                                                                                            
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>                 \
                                                                                                            
        <![endif]-->

        <!-- Mobile Specific Metas                                                                         \
                                                                                                            
  ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS                                                                                           \
                                                                                                            
  ================================================== -->
        <link rel="stylesheet" href="{% get_static_prefix %}css/base.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/skeleton.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/layout.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/style.css">
        <style type="text/css">
         body {background-image:url("{% get_static_prefix %}images/fabric_plaid.png")}
        </style>

        <!-- Javascript                                                                                    \
                                                                                                            
        ================================================== -->
</head>
<body>
<div class="container">
  <div id="header" class="sixteen columns">
    <p>brought to you by Jack Moxon</p>
  </div><!--closes header-->

  <div id="main" class="sixteen columns">
    <div id="logo">
      <img src="{% get_static_prefix %}images/logo.png" width=50%/>
    </div><!--closes logo-->
    <div id="tagline">
      <h3>Find roommates that fit your lifestyle.</h3>
      <h5>Join the free roommate matching community everyone's talking about.</h5>
      <br/><br/>
    	<div id="buttons_x">
			<a href="/survey/"><button class="signupbutton">List Apartment</button></a>
			<a href="/survey/"><button class="myButton">Find Roomates</button></a>
        </div><!--closes buttons-->
    </div><!--closes tagline-->
    
	<div id="features" class="fourteen columns offset-by-one">
    	<div class="featurebox">
		<img src="{% get_static_prefix %}images/easy.jpeg" width=40%/>
		<h5>Easy!</h5>
		<p>Just fill out a quick survey and get matched.</p>
        </div>
      	<div class="featurebox">
		<img src="{% get_static_prefix %}images/tux_man.svg" width=10%/>
		<h5>Tailored!</h5>
		<p>No need to randomly screen people on craigslist.</p>
      	</div>
		<div class="featurebox">
        <img src="{% get_static_prefix %}images/peace_sign.svg" width=30%/>
		<h5>Harmony</h5>
		<p>Live in harmony with your roommates.</p>
      	</div>
    </div><!--closes features-->
	
	<div id = "fedbackbox" class="fourteen columns offset-by-one">
	<h3> Tell us what to do next! </h3>
		<form>
		<h5> What feature do you most want? </h5>
			<input type="checkbox" name="c1" value="c1" /> Facebook integration to know when friends-of-friends are looking. <br />
			<input type="checkbox" name="c1" value="c1" /> A personality-matching algorithm like they have on dating sites. <br />
			<input type="checkbox" name="c1" value="c1" /> More features to make it easier to manage applications (for people who are listing a room). <br />
		<br />

		<h5> Any other feedback? </h5>	
			<textarea name="unpromptedfeedback"></textarea>
		<br />

		<h5> If you give us your email we'll tell you when we add the feature you want. <h5>
			<input type="text" name="feedback_name" value="Name" />
			<input type="text" name="feedback_email" value="you@email.com" />
		<br />
		<input type="submit" value="Submit" />
		</form>
	</div><!--closes feedbackbox-->

  </div><!--closes main-->

	<div id="Djangoform1" class="fourteen columns offset-by-one">
	<h3> Django's example </h3>
	<h5> {{ survey.suggestion }} </h5>
	{% if error_message %}
		<p><strong> {{ error_message }}</strong></p> 
	{% endif %}
	
	<form action="/polls/{{ poll.id}}/vote/" method="post">
	{% csrf_token %}
	{% for choice in poll.choice_set.all %}
		<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
		<label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
	{% endfor %}
	<input type="submit" value="Vote" />
	</form> 
	</div>

	<div id="Djangoform2" class="fourteen columns offset-by-one">
	<h3> Django's Real Example </h3>
	<h1> {{ Survey.option }} </h1>
	
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	
	<form action="/feedback/{{ survey.id }}/vote/" method="post">
	{% csrf_token %}
	{% for choice in poll.choice_set.all %}
		<input type="radio" name="option" id="option"{{ forloop.counter }}" value="{{ option.id}}" />
		<label for="option{{ forloop.counter }}">{{ option.option }} ({{ option.votes }} votes so far)</label><br />
	{% endfor %}
	<input type="submit" value="Vote" />
	</form>
	</div>

</div><!--closes container-->
 
  <div id="footer" class="">
    <ul class="footerlinks">
      <li><a href="/">About</a></li>
      <li><a href="/">Contact</a></li>
      <li><a href="/">Careers</a></li>
      <li><a href="/">Terms & Conditions</a></li>
    </ul>

  </div><!--closes footer-->
</body>
