h1, h2, h3, h4, h5, h6 {
font-family: 'helvetica neue';
font-weight:bold;
}

.container {
clear:both;
padding-top:10px;
}

.login_push_footer {
min-height:680px;
}

.left {
float:left;
}

.right {
float:right;
}

.center {
text-align:center;
}

.clearboth {
clear:both;
}

.blue {
color:#27AAE1
}

.red {
color:red;
}

.red:visited {
color:red;
}

.bold {
font-weight:bold;
}

.pointer {
cursor:pointer;
}

/* Header and Footer*/

#header {
background:#27AAE1;
height:50px;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 0px 5px 5px #888;
}

#header img {
width:270px;
margin-left:50px;
}

.headerlinks {
float:right;
padding:15px;
}

#main {
clear:both;
min-height:500px;
}

#footer {
background:#1c1c1c;
min-height:45px;
clear:both;
}

#footer ul {
width:600px;
margin-left:auto;
margin-right:auto;
padding-top:10px;

}

#footer a, #footer a:visited {
color:white;
}

#footer a:hover {
color:grey;
}



/* GENERAL */

a, a:visited {
color:#333333;
text-decoration:none;
font-weight:bold;
}

a:hover {
color:grey;
}

/* DASHBOARD*/

.page_title {
padding-top:30px;
clear:both;
background:}

.answers {
clear:both;
padding-top:30px;
}

.profile {
min-height:280px;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
-moz-border-radius: 15px;
border-radius: 15px;
padding:5px;
background:#ADD8C7;
margin-bottom:15px;
}

#survey_url {
background:#EAD46E;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
-moz-border-radius: 15px;
border-radius: 15px 15px 15px 15px;
padding:5px;
margin-top:0px;
text-align:center;
}

#potential_roommates {
margin-top:50px;
min-height:200px;
background:;
}

#profile_info {
clear:both;
background:#EAD46E;
}

#profile_info p{
margin:0px;
}

/* Survey List */

#room_list {
min-height:700px;
}

/* Login and logout */

#login {
clear:both;
}

#logout {
min-height:710px;
}

#search_reg_form input[type='text']{
display:block;

}

/* HOME SCREEN*/

#home_main {
padding-top:0px;
margin-bottom:80px;
}

#list_room {
background:#27AAE1;
}

#list_room h3, #list_room a {
font-size:60px;
color:white;
padding:40px;
margin-top:40px;
}

#list_room h5 {
font-size:24px;
color:white;
}

#find_room {
background:#00A651;
}

#find_room h3,#find_room a {
font-size:60px;
padding:40px;
color:white;
margin-top:40px;
}

#find_room a:hover, #list_room a:hover {
color:black;
}



#find_room h5 {
font-size:24px;
color:white;
}


.horizontal_login form{
float:right;
margin:10px;
}

.horizontal_login input {
display:inline;
padding:5px;
margin-left:5px;
width:100px;
}

.home_img {
width: 400px;
padding:20px;
background-color:white;
max-height: 270px;
width: auto;
padding: 0px;
margin: 5px;
border:10px solid white;
}

.horizontal li{
display:inline; padding:1em;
}

#home_left {
background:white;
min-height:420px;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
-moz-border-radius: 15px;
border-radius: 15px;
padding:15px 5px 5px 0px;
}

#home_right {
background:white;
min-height:420px;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
-moz-border-radius: 15px;
border-radius: 15px;
padding:15px 5px 5px 0px;
margin-bottom:20px;
margin-left:80px;
}

.rounded_image {
-moz-border-radius: 15px;
border-radius: 15px;
width:250px;
}

.myButton {
          height:50px;
          -moz-box-shadow:inset 0px 1px 0px 0px #38c955;
          -webkit-box-shadow:inset 0px 1px 0px 0px #38c955;
          box-shadow:inset 0px 1px 0px 0px #38c955;
          background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #23c42e), color-stop(1, #18ad22) );
          background:-moz-linear-gradient( center top, #23c42e 5%, #18ad22 100% );
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#23c42e', endColorstr='#18ad22');
          background-color:#23c42e;
          -moz-border-radius:6px;
          -webkit-border-radius:6px;
          border-radius:6px;
          border:1px solid #dcdcdc;
          display:inline-block;
          color:#f5f2f5;
          font-family:arial;
          font-size:15px;
          font-weight:bold;
          padding:6px 24px;
          text-decoration:none;
          text-shadow:1px 1px 0px #7a787a;
}

.myButton:hover {
                 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #18ad22), color-stop(1, #23c42e) );
                 background:-moz-linear-gradient( center top, #18ad22 5%, #23c42e 100% );
                 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#18ad22', endColorstr='#23c42e');
                 background-color:#18ad22;
}.myButton:active {
                  position:relative;
                  top:1px;
}

.signupbutton {
          height:50px;
          -moz-box-shadow:inset 0px 1px 0px 0px #3784c7;
          -webkit-box-shadow:inset 0px 1px 0px 0px #3784c7;
          box-shadow:inset 0px 1px 0px 0px #3784c7;
          background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2398c2), color-stop(1, #182cab) );
          background:-moz-linear-gradient( center top, #2398c2 5%, #182cab 100% );
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2398c2', endColorstr='#182cab');
          background-color:#2398c2;
          -moz-border-radius:6px;
          -webkit-border-radius:6px;
          border-radius:6px;
          border:1px solid #dcdcdc;
          display:inline-block;
          color:#f5f2f5;
          font-family:arial;
          font-size:15px;
          font-weight:bold;
          padding:6px 24px;
          text-decoration:none;
          text-shadow:1px 1px 0px #7a787a;
}.signupbutton:hover {
                 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #182cab), color-stop(1, #2398c2) );
                 background:-moz-linear-gradient( center top, #182cab 5%, #2398c2 100% );
                 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#182cab', endColorstr='#2398c2');
                 background-color:#182cab;
}.signupbutton:active {
                  position:relative;
                  top:1px;
}

/* CREATE SURVEY */

.clickable:hover {
color:#27AAE1;
}

#create_survey_main {
min-height: 680px;
}

/* ABOUT */

.abouttext {
font-size: 18px;
margin-top: 30px;
}

.about_image {
width:240px;
height:200px;
margin-left:-10px;
}

.hidden {
display:none;
}

#errorz li, #errorz ul {
display:inline;
}

/*REAL_SURVEY*/

#the_room {
margin-top:-50px;
margin-bottom:20px;
}

#red_login {
color:red;
}

#red_login:hover {
color:grey;
}



#feedbackbutton {
position: fixed;
top: 500px;
left:-20px;
font-size:16px;

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

