{% extends "main_base.html" %}
{% load static %}
{% block page %}

<h1>Feedback Page</h1>
<h3>Please give us feedback!</h3>
<div id="feedback" class="six columns">
<form action="/feedback/submit/" method="get">
<label> Your Message. No hard feelings here, but be specific please. </label>
<textarea name="message" rows="10" cols="30"></textarea>
<label> Email (if you want us to get back to you) </label>
<textarea name="sender" rows="1" cols="30"></textarea>
<input type="submit" class="feedback" value="Submit"/>
</form>
</div>

{% endblock page %}